<div id="admin" class="row">
  <div class="col-md-12">    
      <%= simple_form_for(@event, html: {class: 'form-vertical' }) do |f| %>

    <div class="col-md-5 col-sm-offset-1">
      <%= f.input :event_date, as: :string, placeholder: 'Enter Year-Month-Day...' %>
      <%= f.input :event_name %>
      <%= f.input :venue %>
      <%= f.input :city %>
      <%= f.input :state, placeholder: 'Two letter state code, USA only...' %>
    </div>

    <div class="col-md-5">
      <%= f.input :country, as: :string, placeholder: 'Enter full country...' %>
      <%= f.input :event_url, placeholder: 'Enter full URL i.e. http://website.com'  %>
      <%= f.input :confirmed, as: :boolean %>
      <%= f.input :description, as: :text, :input_html => {:rows => 7} %>

      <div class="form-actions">
          <%= f.submit "Save event", class: "btn btn-success" %>
          <%= link_to "Cancel", :back, class: "btn btn-link" %>
      </div>
     
    </div>
    
    <% end %>
  </div>
</div>
